<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de la pelicula</h1>
    <main>
        <h2 class="card__title">Nombre de la pelicula: <%= movie.title %></h2>
    </main>
</body>
</html>